nav {
    background-color:pink;
    padding:45px;
}
nav ul{
    max-width: 200px;
    margin: 0%;
}
nav li{
    width: 280px;
    font-size: large;
    float: left;
}
h1{
    font-size: larger;
    text-align: center;
    background-color:antiquewhite;
}
.test-box{
    border: 2px solid red;
    padding: 70px;
    margin: 40px;
    background-color: pinks;
}
body{ background-image: url('../images/grey.jpeg');}

